// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;

}


// CODE STARTS HERE!
@section-background:#d4d4d4;
@a-color: black;
@a-hover: orange;

header {
	display: flex;
	text-align: center;

	nav {
		display: flex;
		width: 100%;
		padding: 0 3%;
		background: @section-background;
		align-content: space-around;

		a {
			width: 25%;
			padding: 1% 0;
			margin: 1% 2%;
			text-decoration: none;
			color: @a-color;
			text-transform: uppercase;
			border: solid 1px transparent;
	
		}

		a:hover {
			border-top: solid 1px orange;
			border-bottom: solid 1px orange;
		}
	}
}

section {
	display: flex;
	background-color: @section-background;

	p {
		justify-content: center;
		align-items: center;
		padding: 3%;
	}}

	.intro {
		margin: 2%;
		padding: 1.5%;
		

		img {
			width: 18em;
			padding: 1%;
			margin: 0 2%;
		}

		h1 {
			font-size: 1.7rem;
			padding: 2%;
		}

		p {
			padding: 2%;
		}	
	}


	.skillsWorkHist {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		padding: 2%;


		h2 {
			font-size: 1.1rem;
			padding: 2%;
			width: 100%;
			
		}
	}

	.skills {
		display: flex;
		flex-flow: column wrap;
		text-align: center;
		width: 20%;
		float: left;
		
		


		ul {
			list-style: none;
			padding: 1%;

		}
	}

	.workHistory {
		display: flex;
		text-align: center;
		flex-wrap: wrap;
		width: 70%;
		justify-content: center;

		h2{
			width: 100%;
			flex-direction: row;
		}

    h3 {
		width: 100%;
		padding: 4%;
		text-align: center;
		font-weight: bold;

	}

	div {
		display: flex;
		flex-direction: column;
		width: 25%;

		

		
	
	p {
		margin: auto;
		padding: 2%;
		width: 100%;
		height: 5vh;
		border:solid 1px;
		justify-content: space-evenly;
	

	}
}}

		.yrs .company .title .skills {
			display: flex;
			flex-direction: row;
			width: 100%;
			border: solid 1px;
			padding: 1%;
	
	  }

