// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}


// CODE STARTS HERE!
@section-background:#d4d4d4;
@a-color: black;
@a-hover: orange;

header {
	display: flex;
	text-align: center;

	nav {
		display: flex;
		width: 100%;
		padding: 3%;
		border: solid;
		justify-content: flex-end;
		background: @section-background;
		align-content: space-between;

		a {
			width: 8%;
			margin: 1%;
			padding: 1%;
			align-content: space-between;
			text-decoration: none;
			color: @a-color;
			background: white;	
		}

		a:hover {
			color: @a-hover;
		}
	}
}

section {
	display: flex;
	background-color: @section-background;

	p {
		justify-content: center;
		align-items: center;
		padding: 3%;
		border: solid;
	}}

	.intro {
		display: flex;
		margin: 2%;
		justify-content: center;

		p {
			width: 50%;
			align-content: center;
		}
	}

	.intro {
		h1 {
			padding: 3%;
			align-content: center;
	
		}
	}


	.workHistory {
		display: flex;
		text-align: center;

		div {
			flex-direction: column;
			width: 20%;
			border: solid 1px;
			padding: 1%;
	

		}
	  }